<div class="card series">

    <div class="poster">
        <img src="{{series.poster}}" width="100%"/>
    </div>

    <div class="details">

        <div class="section title">
            <div class="icon"><i class="fa fa-television"></i></div>
            <div class="text">{{series.title}}</div>
        </div>

        <div class="status" [ngClass]="{'ended': series.ended}">
            {{series.ended ? 'Ended' : series.data.network}}
        </div>

        <ng-container *ngIf="series.error">
            <div class="section plot">
                <div class="icon" style="color:darkred;"><i class="fa fa-exclamation-triangle"></i></div>
                <div class="text">{{series.error}}</div>
            </div>
        </ng-container>

        <ng-container *ngIf="!series.error && preview == EpisodePreview.aired && series.aired">
            <div class="section info">
                <div class="icon"><i class="fa fa-rss" ></i></div>
                <div class="text">{{series.aired.eid + ': ' + series.aired.title}}</div>
            </div>
            <div class="section plot">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="text">{{series.aired.plot}}</div>
            </div>
        </ng-container>

        <ng-container *ngIf="!series.error && preview == EpisodePreview.missing && series.missing">
            <div class="section info">
                <div class="icon"><i class="fa fa-eye-slash"></i></div>
                <div class="text">{{series.missing.eid +
                        (series.episodes.missing > 1 ? ' (+' + (series.episodes.missing-1) + ')' : '') +
                        ': ' + series.missing.title}}</div>
            </div>
            <div class="section plot">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="text">{{series.missing.plot}}</div>
            </div>
        </ng-container>

        <ng-container *ngIf="!series.error && preview == EpisodePreview.available && series.available">
            <div class="section info">
                <div class="icon"><i class="fa fa-hdd-o"></i></div>
                <div class="text">{{series.available.eid +
                    (series.episodes.available > 1 ? '(+' + (series.episodes.available-1) + ')' : '') +
                    ': ' + series.available.title}}</div>
            </div>
            <div class="section plot">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="text">{{series.available.plot}}</div>
            </div>
            <div class="section subs" *ngIf="series.available.subtitles">
                <div class="icon"><i class="fa fa-cc"></i></div>
                <div class="text">{{series.available.subtitles}}</div>
            </div>
        </ng-container>

        <div class="tools">
            <div class="btn-group" role="group">
                <div class="btn-group" *ngIf="!series.watchlist">
                    <button type="button" class="btn btn-sm btn-danger" (click)="trashSeries()">
                        <i class="fa fa-lg fa-ban"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleWatchlist()">
                        <i class="fa fa-lg fa-heart" [ngClass]="{'false': !series.watchlist}"></i>
                    </button>
                </div>
                <div class="btn-group" *ngIf="series.imdbUrl">
                    <button type="button" class="btn btn-sm btn-success" (click)="openLink(series.imdbUrl)">
                        <i class="fa fa-lg fa-imdb"></i>
                    </button>
                </div>
                <div class="btn-group" title="Series">
                    <button type="button" class="btn btn-sm btn-success" (click)="openInfo()">
                        <i class="fa fa-lg fa-info-circle"></i>
                    </button>
                </div>
            </div>
            <div class="btn-group" role="group" *ngIf="series.preview(preview)">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleWatched()">
                        <i class="fa fa-lg fa-eye" [ngClass]="{'false': !series.preview(preview).watched}"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleCollected()">
                        <i class="fa fa-lg fa-hdd-o" [ngClass]="{'false': !series.preview(preview).collected}"></i>
                    </button>
                </div>
                <div class="btn-group" *ngIf="series.preview(preview).imdbUrl">
                    <button type="button" class="btn btn-sm btn-success"
                        (click)="openLink(series.preview(preview).imdbUrl)">
                        <i class="fa fa-lg fa-imdb"></i>
                    </button>
                </div>
                <div class="btn-group" title="Episode">
                    <button type="button" class="btn btn-sm btn-success" (click)="openIni()">
                        <i class="fa fa-lg fa-info-circle"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
