<div class="card series">

    <div class="poster">
        <img src="{{series.poster}}" width="100%"/>
    </div>

    <div class="details">

        <div class="section title" title="{{series.title}}">
            <div class="icon"><i class="fa fa-television"></i></div>
            <div class="text">{{series.title}}</div>
        </div>

        <div class="section rows" *ngIf="series.error" style="color:darkred;">
            <div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
            <div class="text">{{series.error}}</div>
        </div>

        <div class="section rows" *ngIf="!series.error && !episode">
            <div class="icon"><i class="fa fa-quote-left"></i></div>
            <div class="text plot">{{series.plot}}</div>
        </div>

        <ng-container *ngIf="!series.error && episode">

            <div class="section info">
                <div class="icon">
                    <i class="fa" *ngIf="episode.watched || episode.collected || episode.missing"
                        [class.fa-eye]="episode.watched"
                        [class.fa-cc]="episode.collected && episode.subtitles"
                        [class.fa-hdd-o]="episode.collected && !episode.subtitles"
                        [class.fa-eye-slash]="episode.missing">
                    </i>
                </div>
                <div class="text">
                    <span style="font-weight: bold;">{{episode.season}}&#8226;{{episode.episode}}</span>
                    <span *ngIf="episode === series.available && series.episodes.available > 1">
                        {{'(+' + (series.episodes.available - 1) + ')'}}
                    </span>
                    <span *ngIf="episode === series.missing && series.episodes.missing > 1">
                        {{'(+' + (series.episodes.missing - 1) + ')'}}
                    </span>
                    <span>{{': ' + episode.title}}</span>
                </div>
            </div>

            <div class="section rows">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="text plot">{{episode.plot || series.plot}}</div>
            </div>

            <div class="section footer">
                <div class="icon">
                    <i class="fa fa-clock-o" *ngIf="episode.date"></i>
                </div>
                <div class="text">
                    <span *ngIf="episode.date">{{episode.dateAsText(true)}}</span>
                    <div class="spacer"></div>
                    <span [class.ended]="series.ended">{{series.airing}}</span>
                </div>
            </div>

        </ng-container>

        <div class="tools">
            <div class="btn-group" role="group">
                <div class="btn-group" *ngIf="!series.watchlist">
                    <button type="button" class="btn btn-sm btn-danger" (click)="trashSeries()">
                        <i class="fa fa-lg fa-ban"></i>
                    </button>
                </div>
                <div class="btn-group" *ngIf="episode">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleWatched()">
                        <i class="fa fa-lg fa-eye" [class.false]="!episode.watched"></i>
                    </button>
                </div>
                <div class="btn-group" *ngIf="episode">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleCollected()">
                        <i class="fa fa-lg fa-hdd-o" [class.false]="!episode.collected"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleWatchlist()">
                        <i class="fa fa-lg fa-heart" [class.false]="!series.watchlist"></i>
                    </button>
                </div>
                <div class="btn-group" title="Series" *ngIf="series.seasons.length > 0">
                    <button type="button" class="btn btn-sm btn-success" (click)="modals.openSeries(series)">
                        <i class="fa fa-lg fa-info-circle"></i>
                    </button>
                </div>
                <div class="btn-group" *ngIf="series.imdbUrl">
                    <button type="button" class="btn btn-sm btn-success" (click)="openLink(series.imdbUrl)">
                        <i class="fa fa-lg fa-imdb"></i>
                    </button>
                </div>
            </div>
            <div class="btn-group" role="group" *ngIf="series.watchlist">
                <div class="btn-group" *ngFor="let r of [1,2,3,4,5]">
                    <button type="button" class="btn btn-sm btn-primary" (click)="setRating(r)">
                        <i class="fa fa-lg" [class.fa-star-o]="series.rating < r" [class.fa-star]="series.rating >= r"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
