<div class="card movie">
    <div class="poster">
        <img src="{{movie.poster}}" width="100%"/>
    </div>
    <div class="details">
        <div class="section title">
            <div class="icon"><i class="fa fa-film"></i></div>
            <div class="text">{{movie.name}}</div>
        </div>
        <div class="section info">
            <div class="icon"><i class="fa" [ngClass]="{
                'fa-eye': movie.watched,
                'fa-hdd-o': movie.collected,
                'fa-heart': movie.watchlist
            }"></i></div>
            <div class="text">{{movie.year + (movie.director ? ' by ' + movie.director : '')}}</div>
        </div>
        <div class="section cast">
            <div class="icon"><i class="fa fa-quote-left"></i></div>
            <div class="text">{{movie.plot}}</div>
        </div>
        <div class="section subs" *ngIf="movie.data.subtitles.length">
            <div class="icon"><i class="fa fa-cc"></i></div>
            <div class="text">{{movie.data.subtitles.join(', ')}}</div>
        </div>
    </div>
</div>
