<div class="card movie">

    <div class="poster">
        <img *ngIf="movie.poster" src="{{movie.poster}}" width="100%"/>
        <i *ngIf="!movie.poster" class="fa fa-picture-o"></i>
    </div>

    <div class="details">

        <div class="section s" title="{{movie.title}}">
            <i class="fa fa-film"></i>
            <span class="bold">{{movie.title}}</span>
        </div>

        <div class="section s">
            <i class="fa"
                [class.fa-eye]="movie.watched"
                [class.fa-cc]="movie.collected && movie.subtitles"
                [class.fa-hdd-o]="movie.collected && !movie.subtitles"
                [class.fa-eye-slash]="movie.missing">
            </i>
            <span>{{movieInfo}}</span>
        </div>

        <div class="section m">
            <i class="fa fa-quote-left"></i>
            <span [style.opacity]="0.7">{{movie.plot || 'Unknown'}}</span>
        </div>

        <div class="section s">
            <i class="fa" [class.fa-clock-o]="movie.date"></i>
            <span *ngIf="movie.date">{{movie.dateAsText(true)}}</span>
            <span class="spacer"></span>
            <span *ngIf="movie.data.runtime">{{movie.runtime}}</span>
        </div>

        <div class="tools">
            <div class="btn-group" role="group">
                <div class="btn-group" *ngIf="!(movie.watchlist || movie.collected || movie.watched)">
                    <button type="button" class="btn btn-sm btn-danger" (click)="trashMovie()">
                        <i class="fa fa-lg fa-ban"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleWatched()">
                        <i class="fa fa-lg fa-eye" [class.false]="!movie.watched"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleCollected()">
                        <i class="fa fa-lg fa-hdd-o" [class.false]="!movie.collected"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="toggleWatchlist()">
                        <i class="fa fa-lg fa-heart" [class.false]="!movie.watchlist"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success" (click)="openLink(movie.imdbUrl)">
                        <i class="fa fa-lg fa-imdb"></i>
                    </button>
                </div>
            </div>
            <div class="btn-group" role="group" *ngIf="movie.collected || movie.watched">
                <div class="btn-group" *ngFor="let r of [1,2,3,4,5]">
                    <button type="button" class="btn btn-sm btn-primary" (click)="setRating(r)">
                        <i class="fa fa-lg" [class.fa-star-o]="movie.rating < r" [class.fa-star]="movie.rating >= r"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
