@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,
body {
    /*margin: 0;
    height: 100%;*/
    font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-input-placeholder {
    color: #bdbdbd;
}

::-ms-input-placeholder {
    color: #bdbdbd;
}

::-moz-placeholder {
    color: #bdbdbd;
}

.btn-sm, .btn-group-sm > .btn {
    line-height: 22px;
    padding: 5px 9px;
}

/*
vedi https://stackoverflow.com/a/34643330/28852
 */
app-root {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}


/* per far funzionare la agGrid in un layout flexbox */
#borderLayout_eRootPanel {
    display: flex !important;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

ag-grid-angular {
    display: flex !important;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.ag-bl-full-height {
    height: unset !important;
}

.ag-bl-center,
.ag-bl,
.ag-root {
    display: flex !important;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: unset !important;
}


/**/

title-parent,
title-cell,
app-movie-card,
app-series-card,
app-episode-card {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/**/

.card,
.form {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    background-color: white;
    box-shadow: 2px 2px 10px darkgray;
    border: 1px solid darkgrey;
    border-radius: 3px;
    line-height: 116%;
    padding: 0;
}

.card {
    font-size: 90%;
    margin: 15px;
    height: 158px;
    width: 450px;
}

.form {
    font-size: 110%;
    margin: 0;
}

.poster,
.details {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-direction: column;
}

.poster {
    flex-shrink: 0;
}

.poster:before {
    position: absolute;
    content: "\f03e";
    font-family: FontAwesome;
    font-size: 60px;
    background-color: darkgray;
    text-align: center;
    color: white;
    opacity: 0.2;
    padding-top: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.poster img {
    z-index: 2;
}

.details {
    flex-shrink: 1;
    color: darkslategray;
    overflow: hidden;
    width: 100%;
}

.card .details {
    margin: 5px;
}

.form .details {
    margin: 10px;
}

.section {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.card .section {
    margin: 1px 5px;
    height: 18px;
}

.form .section {
    margin: 3px 10px;
    height: 22px;
}

.section div {
    display: flex;
}

.title {
    /*background-color: lightgreen;*/
}

.title .text {
    font-weight: bold;
}

.info {
    /*background-color: sandybrown;*/
}

.rows {
    /*background-color: seagreen;*/
    flex-grow: 1;
    flex-shrink: 1;
    height: unset;
}

.footer {
    /*background-color: violet;*/
}

.icon {
    flex-grow: 0;
    flex-shrink: 0;
}

.card .icon {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.form .icon {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.icon .fa {
    display: flex;
    margin: auto;
}

.text {
    flex: 1 1 auto;
    margin: auto 0;
}

.rows .text {
    white-space: normal !important;
    margin: 0 0;
}

.text div {
    display: flex;
    flex: 1 0 auto;
}

.plot {
    opacity: 0.7;
}

.spacer {
    flex: 2 1 auto;
}

.tools {
    display: flex;
    position: absolute;
    flex-grow: 0;
    flex-shrink: 1;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    right: -300px;
    transition: right 0.25s;
    z-index: 100;
}

.details:hover .tools {
    right: -7px;
}

.tools > div {
    flex-shrink: 1;
    margin: 5px;
    box-shadow: -1px 2px 10px 0 darkgray;
}

.fa.false {
    opacity: 0.3;
}


/**/

app-series-form {
    width: 100%;
    height: 100%;
}

.modal-dialog,
.modal-content {
    display: flex;
    width: auto;
    min-width: unset;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog {
    height: 90%;
}
