<div id="LinkBar">
    <div class="btn-group" *ngFor="let view of VIEWS">
        <button type="button" class="btn" [ngClass]="{
            'btn-primary': view.tag != activeView,
            'btn-success': view.tag === activeView
        }" (click)="openView(view.tag);">
            <div><i class="fa {{view.ico}}"></i></div>
            <span>{{view.lbl}}</span>
        </button>
    </div>
</div>
<div id="MsgBox">
    <div>
        <div class="alert alert-dismissable" *ngFor="let msg of messages.list; let i = index" [ngClass]="{
            'alert-info': msg.type === MessageType.info,
            'alert-warning': msg.type === MessageType.warning,
            'alert-danger': msg.type === MessageType.error
        }">
            <i class="fa fa-lg" [ngClass]="{
                'fa-info-circle': msg.type === MessageType.info,
                'fa-exclamation-triangle': msg.type === MessageType.warning,
                'fa-exclamation-circle': msg.type === MessageType.error
            }"></i>
            <a class="close" (click)="messages.del(i)">&times;</a>
            <strong *ngIf="msg.title">{{msg.title}}:</strong>
            <span>{{msg.text}}</span>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="config.locked">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf="!config.confirmPrompt"></i>
</div>
<div id="GridBox">
    <ag-grid-angular id="GridObj" class="ag-theme-fresh"
        [gridOptions]="titleGrid" [rowData]="titleRows" [columnDefs]="titleCols">
    </ag-grid-angular>
</div>
