<div id="LinkBar">
    <div class="btn-group" *ngFor="let view of ViewTypes | values">
        <button type="button" class="btn" (click)="getData(view);"
            [class.btn-danger]="view === activeView"
            [class.btn-primary]="view != activeView">
            <div><i class="fa {{view.icon}}"></i></div>
            <span>{{view.label}}</span>
        </button>
    </div>
    <div class="btn-group accessory">
        <button type="button" class="btn btn-success" (click)="importIMDB();"
            *ngIf="activeView && activeView.tag === 'watchlist'">
            <div><i class="fa fa-imdb"></i></div><span>Import</span>
        </button>
    </div>
</div>
<div id="MsgBox">
    <div>
        <div class="alert alert-dismissable"
            *ngFor="let msg of messages.list; let i = index"
            [class.alert-info]="msg.type === MessageType.info"
            [class.alert-danger]="msg.type === MessageType.error"
            [class.alert-warning]="msg.type === MessageType.warning">
            <i class="fa fa-lg"
                [class.fa-info-circle]="msg.type === MessageType.info"
                [class.fa-exclamation-circle]="msg.type === MessageType.error"
                [class.fa-exclamation-triangle]="msg.type === MessageType.warning">
            </i>
            <a class="close" (click)="messages.del(i)">&times;</a>
            <strong *ngIf="msg.title">{{msg.title}}:</strong>
            <span>{{msg.text}}</span>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="api.locked">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>
<div id="GridBox">
    <ag-grid-angular id="GridObj" class="ag-theme-fresh" [gridOptions]="titleGrid" [columnDefs]="titleCols"
        [rowData]="titleRows">
    </ag-grid-angular>
</div>
<div class="form-group form-group-sm title-filter">
    <input class="form-control form-control-sm" placeholder="Search title..."
        (input)="titleFltr=$event.target.value;setRows();" />
</div>
