#LinkBar {
    display: flex;
    position: absolute;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 0;
    top: 45px;
    left: -135px;
    transition: left 0.35s;
    z-index: 10;
}

#LinkBar:hover {
    left: -3px;
}

#LinkBar .btn {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row-reverse;
    vertical-align: middle;
    font-size: 180%;
    margin-bottom: 8px;
    box-shadow: 2px 2px 10px gray;
    width: 190px;
}

#LinkBar .btn.lastView {
    margin-bottom: 32px;
}

#LinkBar .btn * {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    vertical-align: middle;
}

#LinkBar .btn div {
    margin: auto 0 auto 10px;
    width: 32px;
}

#LinkBar .btn .fa {
    font-size: 110%;
    margin: auto;
}

#MsgBox {
    display: flex;
    flex: 2 1 auto;
    flex-direction: column-reverse;
    align-items: flex-end;
    align-content: flex-end;
    position: absolute;
    top: 20%;
    left: 65%;
    right: 0;
    bottom: 0;
    margin: 10px;
}

#MsgBox > div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: relative;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    background-color: darkgray;
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 5000;
}

.overlay .fa {
    margin-top: auto;
    margin-bottom: auto;
}

.alert {
    align-self: flex-end;
    box-shadow: 0 5px 15px darkgray;
    font-size: 110%;
    z-index: 10000;
    animation-name: popin;
    animation-duration: 0.20s;
}

.alert strong,
.alert span {
    margin-left: 5px;
    margin-right: 10px;
}

.alert.fa-info-circle {
    color: cornflowerblue;
}

.alert.fa-exclamation-triangle {
    color: gold;
}

.alert.fa-exclamation-circle {
    color: firebrick;
}

@keyframes popin {
    0%   { zoom: 0%; }
    25%  { zoom: 40%; }
    50%  { zoom: 130%; }
    75%  { zoom: 70%; }
    100% { zoom: 100%; }
}

#GridBox {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#GridObj {
    width: 100%;
    height: 100%;
}

.title-filter {
    display: flex;
    position: absolute;
    flex-flow: row;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 10px darkgray;
    padding: 5px 20%;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
}

.title-filter * {
    display: flex;
    position: relative;
    flex-flow: row;
}

.title-filter input {
    width: 100%;
}

.title-filter .btn {
    flex: 0 0 auto;
    vertical-align: middle;
    margin-left: 5px;
    padding: 3px 8px !important;
}

.title-filter .btn * {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    vertical-align: middle;
}

.title-filter .btn div {
    height: 22px;
}

.title-filter .btn .fa {
    margin: auto 5px auto 0;
}

.title-filter .btn span {
    font-size: 105%;
    font-weight: bold;
}
