<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add path="*" verb="*"
                requireAccess="Script" 
                resourceType="Unspecified"
                name="Python FastCGI"
                modules="FastCgiModule"
                scriptProcessor="C:\Python27\python.exe|C:\Python27\Lib\site-packages\wfastcgi.py" />
        </handlers>
    </system.webServer>
    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="log2g.app" />
        <add key="PYTHONPATH" value="c:\inetpub\wwwroot\log2g\server" />
        <!-- Optional settings -->
        <!--<add key="WSGI_LOG" value="c:\inetpub\wwwroot\log2g\pippo.log" />-->
        <!--<add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />-->
    </appSettings>
</configuration>